{% extends "./layouts/guest.html" %} {% block content %}
<div class="h-full w-full">
  <div class="p-4 bg-gray-200 border rounded w-96 mx-auto mt-40">
    <div class="font-bold text-red-800 text-center text-2xl mb-2">Blog</div>
    <h1 class="m-2 font-bold text-xl">Please Login</h1>

    {% include "./partials/messages.html" %}

    <form
      method="POST"
      action="/login"
      class="flex flex-col justify-center p-4"
    >
      <div class="py-4 flex flex-col">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" />
      </div>

      <div class="py-4 flex flex-col">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
      </div>

      <div class="py-4">
        <button
          type="submit"
          class="w-full cursor-pointer border bg-gray-800 rounded py-2 text-white"
        >
          Log in
        </button>
      </div>

      <a href="/register">New user? Register</a>
    </form>
  </div>
</div>
{% endblock content %}
